$font-stack: consolas;
$primary-color: #7c7c7c;
$secondary-color: #262626;
$cursor-crosshair: crosshair;

html {cursor: $cursor-crosshair;}
a {cursor: $cursor-crosshair;}
body { background-color: $secondary-color; }
.navbar {text-align: center;}
.centered { text-align: center; }
::-webkit-scrollbar { display: none; }
h1, h4, p {
  font-family: $font-stack;
  color: $primary-color;
  text-align: center;
}
* {
    font-family: $font-stack;
    color: $primary-color;
}
.icons-images {
    width: 75px;
    border-radius: 10px;
    transition-duration: 0.5s;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 10px;
}

.icons-images:hover{
  transition-duration: 0.5s;
  box-shadow: rgb(0 0 0 / 100%) 0px 15px 30px 0px;
}