$primary-color: #dcddde;
$secondary-color: #22272e;
$crypto-positive-color: #00ff00;
$crypto-negative-color: #ff0000;
$width-200px: 200px;
$cursor-crosshair: crosshair;
$border-radius-5px: 5px;
$size-50px: 50px;
$size-10px: 10px;
$align: center;
$transtion-1s: 1s;
$transition-05s: 0.5s;

.red, .coin-low24h { color: $crypto-negative-color; }
.green, .coin-high24h { color: $crypto-positive-color; }
.treasury--display { border-radius: $border-radius-5px; }
.coin img {
    height: $size-50px;
    width: $size-50px;
    margin-bottom: 20px;
    cursor: $cursor-crosshair;
    transition: $transtion-1s;
}
.coin img:hover {
  height: 75px;
  width: 75px;
  transition: $transtion-1s;
}
.coin-data {
    display: grid;
    align-content: $align;
    text-align: $align;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.coin-format {
    width: 30%;
    display:inline-block;
    display: flex;
    font-size: 15px;
    display: flex;
    align-items: $align;
    border-radius: $border-radius-5px;
}
.coin-container {
    display: grid;
    justify-content: $align;
    align-items: $align;
}
.coin-HTLLTH {
  border-radius: $border-radius-5px;
  text-align: $align;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
.sortbutton {
  background-color: $primary-color;
  border-radius: $border-radius-5px;
  color: $secondary-color;
  border: none;
  margin: 10px;
  padding: 10px;
  cursor: $cursor-crosshair;
  font-size: 15px;
  color: $secondary-color;
  background-color: $primary-color;
  transition: font-size $transtion-1s, color $transition-05s, background-color $transition-05s;
}
.sortbutton:hover {
  font-size: 20px;
  color: $primary-color;
  background-color: $secondary-color;
  transition: font-size $transtion-1s, color $transition-05s, background-color $transition-05s;
}