$primary-color: #7c7c7c;
$secondary-color: #262626;
$tertiary-color: #313131;
$crypto-positive-color: #58a257;
$crypto-negative-color: #d74d3e;
$cursor-crosshair: crosshair;
$border-radius-5px: 5px;
$size-10px: 10px;
$align: center;

.treasury--display { border-radius: $border-radius-5px; }
a { cursor: $cursor-crosshair; }
.coin img {
    height: calc($size-10px * 5);
    width: calc($size-10px * 5);
    cursor: $cursor-crosshair;
    border-radius: $border-radius-5px;
}
.coincard {
  &-regred { color: $crypto-negative-color; }
  &-reggreen { color: $crypto-positive-color; }
  &-red {
    color: $crypto-negative-color;
    border: 1px solid $crypto-negative-color;
    border-radius: $border-radius-5px;
    padding: 10px;
  }
  &-green {
    color: $crypto-positive-color;
    border: 1px solid $crypto-positive-color;
    border-radius: $border-radius-5px;
    padding: 10px;
  }
  &-regular {
    border: 1px solid $primary-color;
    border-radius: $border-radius-5px;
    padding: 10px;
  }
}
.coin {
  &-data {
    display: grid;
    align-content: $align;
    text-align: $align;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  &-format {
    width: 30%;
    display:inline-block;
    display: flex;
    font-size: calc($size-10px + 5px);
    display: flex;
    align-items: $align;
    border-radius: $border-radius-5px;
  }
  &-container {
    display: grid;
    justify-content: $align;
    align-items: $align;
  }
  &-HTLLTH {
    border-radius: $border-radius-5px;
    text-align: $align;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
  }
}
.sortbutton {
  background-color: $primary-color;
  border-radius: $border-radius-5px;
  border: none;
  margin: $size-10px;
  padding: $size-10px;
  cursor: $cursor-crosshair;
  font-size: calc($size-10px + 5px);
  color: $secondary-color;
  background-color: $primary-color;
  transition: color 0.5s, background-color 0.5s;
}
.sortbutton:hover {
  color: $primary-color;
  background-color: $secondary-color;
  transition: color 0.5s, background-color 0.5s;
}