$primary-color: #7c7c7c;
$crypto-negative-color: #d74d3e;
$border-radius-5px: 5px;
$align: center;

th {
    border: 1px dashed $primary-color;
    border-collapse: collapse;
    border-radius: 5px;
}
.solanabeach {
    &-centeralign {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        text-align: $align;
    }
    &-tablealign {
        display: grid;
        justify-content: $align;
        align-items: $align;
    }
    &-align {
        display: grid;
        justify-content: $align;
    }
    &-border {
        border: 1px solid $primary-color;
        padding: 10px;
        border-radius: $border-radius-5px;
    }
    &-notavailable {
        color: $crypto-negative-color;
        font-weight: bold;
    }
}