$primary-text-color: #ffffff;
$even-table-background: #333333;
$background-table-color: #313131;
$loading-color: #d74d3e;
$cyan-color: #69f5e1;

h3 {color: $primary-text-color;}
.solanabeach {
    &-card {width: 100%;}
    &-wallet {border-radius: 20px;}
    &-walletstyle {color: $cyan-color;}
    &-notavailable {
        color: $loading-color;
        font-weight: bold;
    }
    &-wallet {
        text-align: center;
        background-color: $background-table-color;
        box-shadow: rgb(0 0 0 / 20%) 0px 15px 30px 0px;
        width: 90%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    &-card td {
        padding: 10px;
        border: 0;
    }
}
.table {
    &-maincolor {color: $primary-text-color;}
    &-balanceformat {width: 27%;}
    &-stakerewardsformat {width: 25%;}
    &-title {
        font-size: 0.8rem;
        color: $primary-text-color;
    }
}
tr:nth-of-type(2n) {background-color: rgb(44, 44, 44);}
table {border-spacing: 0;}
thead {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
tfoot {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.loader-container {
    width: 89.3%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: rgba(0, 0, 0, 0.834);
    z-index: 1;
}
.spinner {
    width: 32px;
    height: 32px;
    border: 8px solid;
    border-color: #dcddde transparent #dcddde transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}
@keyframes spin-anim {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}