$primary-text-color: #ffffff;
$even-table-background: #333333;
$background-table-color: #313131;
$crypto-negative-color: #d74d3e;
$cursor-crosshair: crosshair;

html {cursor: $cursor-crosshair;}
a {cursor: $cursor-crosshair;}
.solanabeach {
    &-card {width: 100%;}
    &-wallet {border-radius: 20px;}
    &-walletstyle {
        color: #63e0ce;
        font-weight: 1000;
        text-decoration: none;
    }
    &-walletstyle-title {
        font-weight: 1000;
    }
    &-notavailable {
        color: $crypto-negative-color;
        font-weight: bold;
    }
    &-wallet {
        text-align: center;
        background-color: #313131;
        box-shadow: rgb(0 0 0 / 20%) 0px 15px 30px 0px;
    }
    &-card td {
        padding: 10px;
        border: 0;
    }
}
.table {
    &-title {font-weight: 300; color: #b3b3b3;}
    &-maincolor {
        color: $primary-text-color;
        font-weight: 1000;
    }
}
sub {color: $primary-text-color;}
tr:nth-of-type(even) {background-color: #333333;}
table {border-spacing: 0;}
thead {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
tfoot {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.homebutton {
    width: 75px;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 25%) 0px 15px 30px 0px;
    transition-duration: 0.5s;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
}
.homebutton:hover {
    transition-duration: 0.5s;
    box-shadow: rgb(0 0 0 / 100%) 0px 15px 30px 0px;
}