$font-stack: consolas;
$primary-color: #dcddde;
$secondary-color: #22272e;
$crypto-positive-color: #00ff00;
$crypto-negative-color: #ff0000;
$width-200px: 200px;
$cursor-crosshair: crosshair;
$border-radius-5px: 5px;

.red { color: $crypto-negative-color; }
.green { color: $crypto-positive-color; }
::-webkit-scrollbar { display: none; }
.coin-volume { width: $width-200px; }
.coin-input::placeholder { color: $primary-color; }
.coin-market-cap { width: $width-200px; }
.cursor-crosshair { cursor: $cursor-crosshair; }
h1, h3, p {
  font-family: $font-stack;
  color: $primary-color;
}
html {
    cursor: $cursor-crosshair;
    font-family: $font-stack;
}
body {
    background-color: $secondary-color;
}
* {
    box-sizing: border-box;
    margin: 10px;
    padding: 0;
    font-family: $font-stack;
    background-color: $secondary-color;
    color: $primary-color;
}
.coin-search {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.coin-input {
    padding-left: 50px;
    width: 300px;
    height: 50px;
    border: none;
    color:  $primary-color;
    border: 1px solid $primary-color;
    cursor: crosshair;
    border-radius: $border-radius-5px;
}
.coin img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}
.coin {
    display: flex;
    align-items: center;
    padding-right: 24px;
    min-width: 100px;
}
.coin-data {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
}
.coin-format {
    border: 1px solid $primary-color;
    width: 150vh;
    display: flex;
    font-size: 15px;
    display: flex;
    align-items: center;
    border-radius: $border-radius-5px;
}
.coin-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}