$primary-color: #dcddde;
$secondary-color: #0d1821;
$tertiary-color: #515052;
$crypto-positive-color: #588157;
$crypto-negative-color: #ba1200;
$crypto-medium-color: #ffa500;
$width-200px: 200px;
$cursor-crosshair: crosshair;
$border-radius-5px: 5px;
$size-50px: 50px;
$size-10px: 10px;
$align: center;
$transtion-1s: 1s;
$transition-05s: 0.5s;

.contgreen { color: $crypto-positive-color; }
.contred { color: $crypto-negative-color; }
.contyellow {color: $crypto-medium-color; }
.contwhite { color: $primary-color; }

.red, .coin-low24h { color: $crypto-negative-color; }
.green, .coin-high24h { color: $crypto-positive-color; }
.high24h { color: $crypto-positive-color; }